/*! ARCHIVO .CSS */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Spectral', serif; }

h2, h3, h4, h5 {
  text-align: center;
  color: #262626;
  font-size: 3rem; }

a {
  text-decoration: none; }

p {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 4rem 0;
  text-align: center;
  line-height: 1.5; }

/* Variables */
h1 {
  color: #f2cd5e; }

/*Bucle*/
h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

.backG-1 {
  background-color: #f2cd5e; }

.backG-2 {
  background-color: #fff; }

.backG-3 {
  background-color: #000; }

.linea {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  position: absolute;
  top: 5rem; }

.header {
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center center;
  filter: brightness(70%); }

.cabezado .carousel-indicators .active {
  background-color: #f2cd5e; }

.cabezado .navegacion {
  padding-top: 5rem;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 99999; }
  .cabezado .navegacion .container-fluid {
    position: relative;
    z-index: 20;
    width: 90%; }
  .cabezado .navegacion .logoWeb__texto {
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
    display: inline; }
  .cabezado .navegacion .logoWeb__letra {
    font-size: 4.5rem;
    color: #f2cd5e;
    font-weight: bold; }
  .cabezado .navegacion .fondoBT {
    background-color: #f2cd5e;
    width: 5rem;
    height: 3rem; }

.lista {
  z-index: 10; }
  .lista .enlace {
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.493); }
    .lista .enlace:hover {
      background-color: rgba(0, 0, 0, 0.25);
      color: #f2cd5e;
      transition: 0.2s; }
    .lista .enlace:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: #f2f2f2b2;
      width: 100%;
      height: 1px;
      transform: scale(0);
      transform-origin: left center;
      transition: all .5s ease-in-out; }
    .lista .enlace:hover:after {
      transform: scale(1); }
  .lista .desplegable {
    position: absolute;
    display: none; }
    .lista .desplegable li .enlace {
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 2rem 2rem 2rem 6rem; }
  .lista li:hover ol {
    display: none; }

.titulo {
  margin: 0 5rem;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #c72b16; }
  .titulo .titulo__principal {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255); }
  .titulo .titulo__info {
    font-size: 2rem;
    color: #d6401a;
    font-weight: 700;
    text-align: left; }

.tituloP__principal {
  text-align: center; }

.cabezado .navbar-nav .nav-link.active {
  color: #5ef283; }

@media (min-width: 380px) {
  .lista .enlace {
    font-size: 2rem; } }

@media (min-width: 768px) {
  .titulo .titulo__principal {
    font-size: 3rem; }
  .titulo .titulo__info {
    font-size: 2.4rem; } }

@media (min-width: 900px) {
  .titulo .titulo__principal {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff; }
  .titulo .titulo__info {
    font-size: 3rem;
    color: #f2cd5e;
    font-weight: 700;
    text-align: left; } }

@media (min-width: 993px) {
  .f-lista {
    background-color: transparent;
    background: linear-gradient(180deg, rgba(14, 14, 14, 0.908001) 5%, rgba(255, 255, 255, 0) 97%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh; }
  .lista .enlace {
    background-color: transparent; }
  .lista li:hover ol {
    display: block; } }

.campoInicio {
  background-color: #f2cd5e;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: relative;
  position: fixed;
  right: 5%;
  top: 85%;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  transition: .5s; }
  .campoInicio:hover {
    background-color: #000; }
  .campoInicio .flechaArriba {
    width: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 720px) {
  .campoInicio {
    height: 6rem;
    width: 6rem; }
    .campoInicio .flechaArriba {
      width: 3rem; } }

.nosotros {
  margin: 7.5rem auto;
  padding-bottom: 9rem; }
  .nosotros .nosotros__info {
    width: 80%;
    margin: 10rem auto;
    border-right: 2px solid #f2cd5e;
    height: 40rem; }
  .nosotros .img1, .nosotros .img2 {
    transition: all 3s ease;
    width: 100%; }
  .nosotros .zoom {
    overflow: hidden; }
  .nosotros .img2:hover {
    transform: scale(1.1, 1.1);
    overflow: hidden; }

@media only screen and (min-width: 768px) {
  .nosotros__imagen {
    width: 80%;
    margin: 0 auto; } }

@media only screen and (min-width: 900px) {
  .nosotros {
    display: flex;
    width: 90%; }
    .nosotros .nosotros__info {
      flex-basis: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 7rem; }
    .nosotros .nosotros__imagen {
      position: relative;
      flex-basis: 0 0 50%;
      align-self: center; }
      .nosotros .nosotros__imagen .absolute {
        position: absolute;
        left: -10%;
        bottom: -15%; }
      .nosotros .nosotros__imagen .img1 {
        width: 50%; }
      .nosotros .nosotros__imagen .img2 {
        width: 100%; } }

.servicios {
  display: flex;
  flex-direction: column;
  margin-top: 5rem; }
  .servicios .equiposx {
    padding: 5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .servicios .equiposx:nth-child(odd) {
      background-color: rgba(230, 230, 230, 0.45); }
    .servicios .equiposx:hover {
      background-color: rgba(235, 190, 67, 0.7); }
  .servicios img {
    width: 8rem; }

@media (min-width: 720px) {
  .servicios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .servicios .equiposx {
      flex-basis: 50%; } }

@media (min-width: 920px) {
  .servicios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .servicios .equiposx {
      flex-basis: 33%;
      padding: 9rem 5rem; } }

.cabecera {
  position: relative;
  height: 25rem; }
  .cabecera .cabecera__foto {
    background-image: url(../img/fondofull.jpg);
    position: absolute;
    top: 0;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    object-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; }
  .cabecera .tituloCabecera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.proyectos img {
  width: 100%; }

.proyectos .proyectos__contenido {
  margin: 5rem auto;
  width: 90%; }

@media (min-width: 720px) {
  .proyectos .sectionImg {
    display: flex;
    flex-wrap: wrap; }
    .proyectos .sectionImg div {
      flex-basis: 50%;
      overflow: hidden; }
    .proyectos .sectionImg .imgCol {
      max-width: 100%;
      min-height: 100%;
      height: 50rem;
      object-fit: cover;
      object-position: center;
      transition: all 3s ease;
      position: relative;
      fill-opacity: 50%; }
      .proyectos .sectionImg .imgCol:hover {
        transform: scale(1.1, 1.1); } }

@media (min-width: 900px) {
  .proyectos .proyectos__row {
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, white 0%, #e2dede 99%); }
    .proyectos .proyectos__row .proyectos__contenido {
      width: 30%; }
    .proyectos .proyectos__row .sectionImg {
      flex-basis: 0 0 65%;
      max-width: 65%;
      min-height: 70vh; }
    .proyectos .proyectos__row .imgCol {
      object-fit: cover;
      transition: all 1s ease; }
  .proyectos .blanco {
    flex-direction: row-reverse; } }


/* Boton para todas las secciones */
.boton {
  font-size: 1.6rem;
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.2s;
  background-color: #000;
  padding: 1.5rem 3rem;
  border: 1px solid;
  display: inline-block;
  cursor: pointer;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }
  .boton:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000; }

.tituloFormulario {
  margin-top: 5rem; }

.formulario {
  width: 90%;
  max-width: 60rem;
  margin: 7rem auto; }
  .formulario .formulario__titulo {
    text-align: center;
    font-size: 2rem; }
  .formulario label {
    font-size: 2rem;
    color: #595959;
    padding-left: 1rem; }
  .formulario .campo1, .formulario .campo2 {
    display: inline; }
  .formulario .campo__input {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-bottom: 1px solid #f2cd5e;
    font-size: 2rem;
    margin: 2rem 0;
    width: 100%; }
  .formulario fieldset, .formulario input {
    border: none; }
  .formulario .campo__area {
    border: 1px solid #f2cd5e;
    background-color: transparent;
    padding: 0.5rem 1rem;
    max-width: 100%;
    min-height: 20rem;
    max-height: 50rem;
    resize: vertical;
    font-size: 2rem;
    margin: 2rem 0;
    width: 100%; }
  .formulario .campo .boton {
    width: 100%;
    margin: 1rem 0; }
  .formulario .boton--blanco {
    background-color: #fff;
    color: #000;
    border: 1px solid #000; }
    .formulario .boton--blanco:hover {
      background-color: #000;
      color: #fff; }
  .formulario input:focus, .formulario textarea:focus {
    outline: none;
    border: 1px solid #f2cd5e; }

.mapa iframe {
  width: 100%;
  height: 400px; }

@media (min-width: 720px) {
  .contenedorCampos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; }
  .campo:nth-child(1) {
    grid-column: 1/3; }
  .campo:nth-child(4) {
    grid-column: 1/2; }
  .campo:nth-child(6) {
    grid-column: 1/3; } }

@media (min-width: 900px) {
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem; }
  .mapa {
    flex-basis: 0 0 50%;
    margin: auto;
    width: 600px; } }


footer {
  background-color: #101010;
  width: 100%;
  padding: 3rem 2rem; }
  footer p {
    font-size: 1.6rem;
    margin: 0; }
  footer p, footer h3 {
    font-weight: 200;
    color: #e1e1e1; }
  footer .derechos {
    margin-top: 5rem; }

.pie h4 {
  color: #fff;
  font-size: 2rem; }

.pie .pie__mapaSitio h4, .pie .pie__mapaSitio a {
  display: block; }

.pie .pie__mapaSitio h4 {
  margin: 2rem 0; }

.pie .pie__mapaSitio a {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.459);
  text-align: center; }
  .pie .pie__mapaSitio a:hover {
    text-decoration: line-through;
    color: #f2cd5e; }

.pie .pie__subscripcion {
  margin: 4rem auto;
  width: 90%; }
  .pie .pie__subscripcion h4 {
    text-align: left; }
  .pie .pie__subscripcion p {
    color: #fff;
    text-align: left; }
  .pie .pie__subscripcion .group-subs {
    position: relative; }
    .pie .pie__subscripcion .group-subs button {
      background-color: transparent;
      border: none;
      padding: 0 2rem; }
    .pie .pie__subscripcion .group-subs .button-img {
      width: 2rem;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%); }
  .pie .pie__subscripcion input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #fff;
    margin-top: 2rem; }
    .pie .pie__subscripcion input:focus {
      border: 1px solid #fff; }

.pie .pie__red {
  display: flex;
  flex-wrap: wrap;
  flex: column;
  justify-content: center; }
  .pie .pie__red img {
    margin: 3rem 1rem;
    width: 6rem; }

.pie .derechos {
  text-align: center; }

@media (min-width: 720px) {
  .pie__mapaSitio {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem; }
    .pie__mapaSitio .col-p1, .pie__mapaSitio .col-p2 {
      padding: 0 2rem; } }

@media (min-width: 900px) {
  .pie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .pie__red {
    flex-basis: 0 0 47%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto; }
    .pie__red .facebook, .pie__red .instagram, .pie__red .twitter, .pie__red .pinterest {
      transition: 0.5s;
      margin: 0 3rem; }
      .pie__red .facebook:hover, .pie__red .instagram:hover, .pie__red .twitter:hover, .pie__red .pinterest:hover {
        transform: scale(1.25, 1.25);
        transition: 0.5s; }
  .pie__subscripcion {
    flex-basis: 47%;
    width: 40%; } }

@media (min-width: 1200px) {
  .pie__red {
    flex-basis: 0 0 30%; }
  .pie__subscripcion {
    flex-basis: 30%;
    width: 100%; } }

.headerProyect {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%); }

.tituloP {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); }
  .tituloP .tituloP__principal {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0;
    text-align: left; }
  .tituloP .parrafoGaleria {
    color: #fff;
    font-size: 2.2rem;
    margin: 1rem 0;
    text-align: left; }
  .tituloP .frenteB {
    width: 20rem; }

.flecha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fmove;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  .flecha a {
    padding: 2rem 1rem; }
  .flecha .flecha__img {
    width: 3rem; }

@keyframes fmove {
  0% {
    top: 60%; }
  50% {
    top: 65%; }
  100% {
    top: 70%; } }

.grid {
  width: 80%;
  margin: auto;
  border-left: 1px solid rgba(194, 188, 188, 0.514);
  border-right: 1px solid rgba(194, 188, 188, 0.514); }

.bloque {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.55fr;
  width: 90%;
  max-width: 150rem;
  margin: 10% auto;
  column-gap: 1.66667rem; }
  .bloque a {
    color: #000; }
  .bloque .bloque__foto {
    grid-column: 2/3;
    overflow: hidden; }
    .bloque .bloque__foto img {
      object-position: center;
      object-fit: cover;
      transition: all 1.5s ease;
      transition-delay: 0s;
      width: 100%;
      max-height: 80vh;
      min-height: 55rem; }
      .bloque .bloque__foto img:hover {
        transform: scale(1.1); }
  .bloque .bloque__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem; }
    .bloque .bloque__descripcion p {
      text-align: left; }

.uno {
  grid-template-columns: 1fr 1fr 0.3fr;
  grid-auto-flow: column;
  margin-top: 10%; }
  .uno .descripcion--reverse {
    grid-column: 1/2; }

.dos {
  grid-template-columns: 0.7fr 1fr 0.5fr;
  grid-auto-flow: column;
  margin-top: 10%; }
  .dos .descripcion--reverse {
    grid-column: 1/2; }

@media (max-width: 1200px) {
  .grid {
    width: 100%;
    border: none; } }

@media (max-width: 900px) {
  .bloque {
    grid-template-columns: 0.7fr 1fr; }
    .bloque .bloque__foto img:hover {
      transform: none; }
  .bloque__foto, .bloque__descripcion {
    grid-row: 2/3; }
  .uno {
    grid-template-columns: 1fr 0.7fr; }
    .uno .descripcion--reverse {
      grid-column: 2/3; }
    .uno .bloque__foto {
      grid-column: 1/2; }
  .tres {
    grid-template-columns: 1fr 0.7fr;
    align-items: center; }
    .tres .descripcion--reverse {
      grid-column: 2/3; }
    .tres .bloque__foto {
      grid-column: 1/2; } }

@media (max-width: 720px) {
  .tituloP {
    top: 75%; }
    .tituloP .tituloP__principal {
      font-size: 2.5rem; }
  .bloque {
    display: block;
    border-bottom: 1px solid #e1e1e1; }
    .bloque:last-child {
      border: none; }
    .bloque h3 {
      padding: 1rem 0; }
  .flecha {
    bottom: 0; } }

@media (max-width: 380px) {
  .tituloP .tituloP__principal, .tituloP .parrafoGaleria {
    font-size: 1.8rem; } }

body {
  width: 100%; }

.fijar-body {
  position: fixed; }

.tituloPage {
  text-align: center;
  color: #000; }

.tituloProyecto {
  font-size: 2.5rem; }

.fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 150rem;
  margin: 3rem auto;
  column-gap: 1rem;
  row-gap: 1rem; }
  .fotos .imgGaleria {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: center center;
    cursor: pointer; }

.fondo-0 {
  background-color: #000; }

.cabezado .static {
  position: relative; }

@media (max-width: 720px) {
  .fotos {
    grid-template-columns: repeat(2, 1fr); }
  .tituloPage {
    font-size: 2.5rem; }
  .tituloProyecto {
    font-size: 2rem; } }

@media (max-width: 420px) {
  .fotos {
    grid-template-columns: 1fr; } }

.fondo {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0 auto;
  left: 0;
  z-index: 99999; }
  .fondo .imgCentrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: auto; }
  .fondo .boton-cerrar {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 7.5%;
    right: 5%;
    background-color: #f2cd5e;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer; }
    .fondo .boton-cerrar:hover {
      background-color: #fff; }

@media (max-width: 1200px) {
  .fondo .imgCentrado {
    width: 95%;
    height: auto; } }

.navegacion404 {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1; }
  .navegacion404 .logoWeb__texto404 {
    font-size: 3rem;
    color: #000; }
  .navegacion404 .logoWeb__letra404 {
    font-size: 4rem;
    color: #f2cd5e; }

.notFound {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .notFound .notFound__img {
    position: relative; }
    .notFound .notFound__img img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100vh;
      filter: brightness(90%); }
    .notFound .notFound__img .numero {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 15rem;
      color: #f2cd5e; }
    .notFound .notFound__img .cita404 {
      position: absolute;
      bottom: 15%;
      left: 42%;
      background-color: #fff;
      width: 12rem;
      height: 12rem;
      border-radius: 25px; }
  .notFound .notFound__text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .notFound .notFound__text .cono404 {
      width: 10rem; }
    .notFound .notFound__text .titulo404 {
      color: #000;
      font-size: 4rem;
      text-transform: uppercase; }
    .notFound .notFound__text .parrafo404 {
      width: 50%; }

@media (max-width: 720px) {
  .notFound {
    grid-template-columns: 1fr; }
    .notFound .notFound__img img {
      filter: brightness(50%); }
    .notFound .notFound__img .numero {
      top: 15%;
      font-size: 7rem; }
    .notFound .notFound__img .cita404 {
      display: none; }
    .notFound .notFound__text {
      position: absolute;
      top: 10%; }
      .notFound .notFound__text .cono404 {
        width: 7rem; }
      .notFound .notFound__text .titulo404 {
        color: #fff;
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0.5rem 0; }
      .notFound .notFound__text .parrafo404 {
        width: 80%;
        color: #fff; } }

@media (max-width: 420px) {
  .notFound .notFound__img .numero {
    top: 15%;
    font-size: 5rem; }
  .notFound .notFound__img .cita404 {
    display: none; }
  .notFound .notFound__text {
    position: absolute;
    top: 10%; }
    .notFound .notFound__text .cono404 {
      width: 4rem; }
    .notFound .notFound__text .titulo404 {
      color: #fff;
      font-size: 2.5rem;
      text-transform: uppercase;
      margin: 0.5rem 0; }
    .notFound .notFound__text .parrafo404 {
      width: 90%;
      color: #fff;
      font-size: 1.6rem; } }
